<!-- Student ID: 301216704
Name: Chung Yin Tsang
Date: 21 Oct 2022 -->
    <footer>
        <br>
        <p>Copyright &copy; Chung Yin Tsang (301216704)</p>
    </footer>

    <script src="/javascripts/appclient.js"></script>
</body>
</html>
  