<!-- Student ID: 301216704
Name: Chung Yin Tsang
Date: 21 Oct 2022 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <header>
        <!-- Navbar with bootstrap -->
        <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center nav-tabs">
            <ul class="navbar-nav">

            <!-- logo -->
            <a class="navbar-brand" href="/">
                <img src="/images/logo.png" class="logo" alt="Logo" class="rounded-pill"> 
            </a>
                
            <!-- navbar item 'Home' -->
            <li class="nav-item">
                <% if(title == "Home"){ %>
                <a class="nav-link active" href="/">
                <% }else { %>
                <a class="nav-link" href="/">
                <% } %>
                <i class="fa-sharp fa-solid fa-house"></i>
                Home</a>
            </li>

            <!-- navbar item 'About Me' -->
            <li class="nav-item">
                <% if(title == "About Me"){ %>
                <a class="nav-link active" href="/about">
                <% }else { %>
                <a class="nav-link" href="/about">
                <% } %>
                <i class="fa-solid fa-address-card"></i>
                About Me</a>
            </li>

            <!-- navbar item 'Projects' -->
            <li class="nav-item">
                <% if(title == "Projects"){ %>
                <a class="nav-link active" href="/projects">
                <% }else { %>
                <a class="nav-link" href="/projects">
                <% } %>
                <i class="fa-solid fa-diagram-project"></i>
                Projects</a>
            </li>

            <!-- navbar item 'Services' -->
            <li class="nav-item">
                <% if(title == "Services"){ %>
                <a class="nav-link active" href="/services">
                <% }else { %>
                <a class="nav-link" href="/services">
                <% } %>
                <i class="fa-solid fa-heart-circle-plus"></i>
                Services</a>
            </li>

            <!-- navbar item 'Contact' -->
            <li class="nav-item">
                <% if(title == "Contact"){ %>
                <a class="nav-link active" href="/contact">
                <% }else { %>
                <a class="nav-link" href="/contact">
                <% } %>
                <i class="fa-solid fa-address-book"></i>
                Contact</a>
            </li>

            <!-- navbar item 'Business Contacts List' -->
            <li class="nav-item">
                <% if(title == "Business Contacts List"){ %>
                <a class="nav-link active" href="/contactlist/list">
                <% }else { %>
                <a class="nav-link" href="/contactlist/list">
                <% } %>
                <i class="fa-solid fa-briefcase"></i>
                Business Contacts List</a>
            </li>
   
            <!-- navbar item 'Sign Up' -->
            <li class="nav-item">
                <% if(title == "Sign Up"){ %>
                <a class="nav-link active" href="/users/signup">
                <% }else { %>
                <a class="nav-link" href="/users/signup">
                <% } %>
                <i class="fa-solid fa-user-plus"></i>
                Sign Up</a>
            </li>
            
            <!-- navbar item 'Login' -->
            <li class="nav-item">
                <% if(title == "Business Contacts List"){ %>
                <a class="nav-link active" href="/users/login">
                <% }else { %>
                <a class="nav-link" href="/users/login">
                <% } %>
                <i class="fa-solid fa-right-to-bracket"></i>
                Login</a>
            </li>

            </ul>
        </nav>
    </header>
    <div class="title">
        <h1><b><%= title %></b></h1>
    </div>