<!-- Student ID: 301216704
Name: Chung Yin Tsang
Date: 21 Oct 2022 -->

<!-- header -->
<% include partials/header.ejs %>

<!-- content -->

<!-- A container with two sections -->
<div class="homeContainer">
  <div class="home-left-div">
    <!-- a drawing from me -->
    <img src="/images/homepic.png" alt="my drawing" class="homepic">
  </div>
  <div class="home-right-div">
    <!-- Welcome message -->
    <h2>
      Hi, I'm Chung Yin Tsang!     
      <img src="/images/logo.png" alt="logo" style="height: 70px;">
    </h2>
    <br><br>
    <h2>Welcome to my <%= title %> page!</h2>
    <br><br>
    <h4>To know more about me? </h4>
    <a href="/about">
      <button class="btn btn-outline-secondary btn-lg">~ Click Here ~</button>
    </a>
  </div>
</div>


<!-- footer -->
<% include partials/footer.ejs %>